<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <% alert_info = get_flash(@conn, :info) %>
      <%= if (alert_info) do %>
      <p class="alert alert-info"><%= alert_info %></p>
      <% end %>

      <% alert_danger = get_flash(@conn, :error) %>
      <%= if (alert_danger) do %>
      <p class="alert alert-danger"><%= alert_danger %></p>
      <% end %>

      <div class="header">
        <% user = @conn.assigns.current_user %>
        <%= if user do %>
        Logged in as <%= user[:name] %> (<%= user[:id] %>).
        <a href="<%= user_path(@conn, :logout) %>">logout</a>
        <%= else %>
        <form class="login" method="POST" action="/login">
        <input type="text" name="name" placeholder="name">
        <input type="password" name="passwd" placeholder="password">
        <input type="submit" value="Login / Register">
        </form>
        <% end %>
        <!--
        <form method="POST" action="/">
          <input type="text" name="q">
          <input type="submit" value="Search">
        </form>
        -->
        <div class="menu">
          <a href="<%= tag_path(@conn, :all, 1) %>">Browse</a>
          <a href="<%= activity_path(@conn, :comments, 1) %>">Comments</a>
          <a href="<%= activity_path(@conn, :tags, 1) %>">Recently&nbsp;tagged</a>
          <a href="<%= activity_path(@conn, :favs_all, 1) %>">Users favorites</a>
          <%= if user do %>
          <a href="<%= activity_path(@conn, :favs, user[:id], 1) %>"><%= user[:name] %></a>
          <a href="<%= item_path(@conn, :preupload) %>">Add</a>
          <% end %>
        </div>
      </div>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
