  <div class="comment">
    <%= if @comment.user do %>
    <a href="#<%= @comment.user.id %>"><%= @comment.user.name %></a> - <%= @comment.created %><br>
    <%= @comment.content %>
    <% end %>
  </div>
