<div class="list">
  <div class="control">

  </div>

  <%= render "list.html", conn: @conn, items: @items %>

  <%= render Placebooru.SharedView, "pager.html",
    page: @page, url: &(tag_path(@conn, :all, &1))
  %>

</div>
