<div class="list">
  <%= for item <- @items do %>
  <div class="item">
    <a href="<%= item_path(@conn, :view, item.id, "_")  %>">
      <img src="/img/thumb_<%= item.id %>.jpg" />
    </a>
  </div>
  <% end %>
</div>
