<div class="list">
  <div class="control">

  </div>

  <%= render "list.html", conn: @conn, items: @items %>

  <%=
    Placebooru.SharedView
    |> render "pager.html", 
      page: @page, 
      url: &(tag_path(@conn, :single, @id_tag, &1, "_"))
  %>

  <%= Placebooru.SharedView |> render "comments.html", conn: @conn, comments: @comments, url_add: tag_path(@conn, :comment, @id_tag) %>

</div>